@media screen and (max-width: 767px){
	.top-list-item{
		align-items: flex-start;
    	max-height: 180px;
    	justify-content: space-between;
	}
	.category-content {
    	padding-top: 3rem;
	}
	.top-list-item .top-list-item-left , .top-list-item .top-list-item-center p{
		display: none;
	}
	.top-list-item .top-list-item-right .top-list-bg-img{
		width: 120px;
    height: 120px;
	}
	.top-list-item .top-list-item-right{
		width: 120px;
	    min-width: 120px;
	    max-width: 120px;
	    height: 120px
	}
	.shortlist-category-list ul li button img{
		width: 35px;
	}
	#SignupModal .modal-content{
		width: 90%;
	}
	.shortlist-category-list ul li{
		width: 100%;
	    height: 110px;
	    -webkit-justify-content: flex-start;
	    justify-content: flex-start;
	    padding-left: 0px;
	    border-bottom: 1px solid #d5d5d5;
	    border-left: 1px solid #d5d5d5;
	    border-right: 1px solid #d5d5d5;
	}
	.shortlist-category-list ul{
		flex-direction: column;
	}
	.shortlist-category-list ul li a{
		justify-content: flex-start;
		flex-direction: column;
	}
	.shortlist-category-list ul li a span{
		margin-left: 30px;
		display: block;
		padding-top: 25px;
	}
	footer .social-media {
    	padding-top: 2rem;
	}
	footer .footer-detail .mobile-display-none{
		display: none;
	}
	footer .design-to-help{
		padding-top: 3rem;
	}
	.top-category .page-header__categories{
		margin: 0 auto;
    margin-bottom: 1rem;
	}
	.home-banner h1{
		width: 100%;
		font-size: 40px;
    letter-spacing: 0px;
	}
	.home-banner p{
		width: 100%;
	}
	.categories-position{
		top: -5px;
	}
	.footer-menu-for-mobile{
		display: block;
		border-top: 1px solid white;
    padding-top: 20px;
	}
	.mobile-display-none{
		padding-left: 0;
	}
	.mobile-display-none li{
		list-style: none;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.mobile-display-none li a{
		color: white;
		text-decoration: unset;
	}
	.footer-detail .design-to-help{
		border-top: 1px solid white;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
	.footer-detail .col-sm-4{
		padding-bottom: 2rem;
	}
	.navbar-toggler i{
		color: black;
		font-size: 25px;
		margin-top: 5px;
	}
	.search-hidden-for-mobile{
		display: none !important;
	}
	.navbar-collapse form{
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    padding-top: 10px;
	}
	.navbar-collapse form button{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.category-all-content .top-list-item-left{
		display: none;
	}
	.more-finance-shortlist{
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
	.shortlist-category{
		overflow-x: hidden;
	}
	.article-data{
		height: 100%;
		padding: 35px;
	}
	.article-data .number {
	    position: absolute;
	    left: -20px;
	    top: -1px;
	}
	.add-to-compare{
		margin-left: 0;
		margin-bottom: 2rem;
	}
	.article-visit-site{
		flex-direction: row;
		margin-top: 2rem;
	}
	.all-article-list .col-sm-9{
		padding-left: 45px;
	}
	.cd-products-columns .product{
		width: 170px;
	}
	.cd-products-table .top-info{
		width: 170px;
	}
	.review-plan-section .pull-right{
		float: left;
    margin-top: 1rem;
	}
	.meal-content .what-in-meal {
    padding-top: 4rem;
}
.topic-banner{
	background-size: auto;
}
}