
article, aside, details, figcaption, figure, 
 hgroup, menu, nav, section, main {
	display: block;
}

.cd-products-comparison-table ul li{
	font-size: 16px;
	list-style: none;
}
.cd-products-comparison-table ul{
	padding-left: 0;
	margin-bottom: 0;
}

.compare-table ol, .compare-table ul {
	list-style: none;
	/*border: 0;*/
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.compare-table table {
	border-collapse: collapse;
	border-spacing: 0;
}