header nav a{
	color: #2d2d2d;
}
.flex{
    display: flex;
}
header button.btn{
	margin-left: 12px;
	font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #010233;
    width: 100px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #010233;
    background-color: white;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .form-control{
	border: 1px solid #d5d5d5;
	/*border-radius: 0px;*/
    margin-top: 2px;
    font-size: 14px;
    line-height: inherit;
    font-weight: 700;
    color: #2d2d2d;
    height: 27px;
    width: 181px;
    padding-left: 26px;
    padding-right: 19px;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease-in-out;
    border-left: unset;
    border-radius: 0px;
    padding-left: 0px;
}
.form-control:focus{
	color: #495057;
    background-color: #fff;
    border-color: #d5d5d5;
    outline: 0;
    box-shadow: 0 0 0 0rem ;
}
body{
  overflow-x: hidden;
}
header form i.fa{
	border: 1px solid #d5d5d5;
	height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 33px;
    margin-top: 2px;
    border-right: 0;
}
header form button.btn-primary:hover{
  background-color: black;
  color: white;
}
header form button.btn-primary:after{
  content: '<i class="fa fa-arrow-right" aria-hidden="true"></i>';
  font-family: 
    display: -webkit-inline-flex;
    display: inline-flex;
    /*background-image: url();*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 13px;
    height: 10px;
    transition: all 0.3s ease;
    opacity: 0;
}
.navbar-brand .header__logo{
  margin-top: -10px;
}
header a{
	font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    color: #2d2d2d;
}
.main{
	/*margin-top: 4rem;*/
}
.home-banner{
	background-image: url('../images/1920-image_v5.webp');
	height: 350px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}
.home-banner h1{
	font-weight: 500;
    width: 800px;
    font-size: 56px;
    letter-spacing: 1px;
}
.home-banner p{
	font-size: 23px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 10px;
    width: 615px;
    letter-spacing: 1px;
}

.top-category .page-header__categories{
	width: 230px;
    height: 110px;
    min-width: 230px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
    transition: all 0.2s linear;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.top-category .page-header__categories a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: white !important;
    border-radius: 4px;
    color: #010233;
    padding: 0 20px 0 15px;
}

.top-category .page-header__categories .first-category{
 	background-color: #ff4a64 !important;
    color: white;
 }

 .page-header__categories__category--name{
 	font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    transition: color 0.2s linear;
}

.header-categories{
	position: relative;
}
.categories-position{
	position: absolute;
    top: 30px;
}

.page-header__categories:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}
.category-content {
	padding-top: 4rem;
}

.top-list-title {
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    color: #2d2d2d;
    text-transform: none;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    padding-bottom: 3px;
}

.top-list-title:after {
    content: ' ';
    display: -webkit-flex;
    display: flex;
    width: 17%;
    border-bottom: 1px solid #ff4a64;
    position: relative;
    top: 4px;
}
.top-10-logo{
    margin-bottom: 1.5rem;
}
.top-list-item{
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
    min-height: 148px;
    overflow: hidden;
    border-top: 1px solid #dfdfdf;
    word-break: break-word;
    cursor: pointer;
    padding-bottom: 2rem;
    text-decoration: none;
    max-height: initial;
}
.top-list-item .top-list-item-left {
	max-width: 64px;
    max-height: 104px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 0px;
    justify-content: normal;
    width: 61px;
}
 .top-list-item-center h2{
	font-size: 22px;
    color: black;
}
.top-list-item-center p{
    color: black;
}
 .top-list-item-center h2 b{
	display: inline;
    color: #ff4a64;
    transition: color 0.15s linear;
}
.shortlist-category .shortlist-category-list .categories-shortlist--category__link{
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.top-list-item .top-list-item-center{
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.top-list-item .top-list-item-right {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 25px;
    min-width: 231px;
    width: 231px;
    height: 130px;
}
.top-list-item .top-list-item-right  .top-list-img-container{
	position: relative;
    width: 100%;
    height: 100%;
}
    
    
.top-list-item .top-list-item-right  .top-list-bg-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.top-list-item .top-list-item-right .bottom-text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    color: white;
    max-height: 22px;
    width: auto;
    white-space: nowrap;
    background-color: #010233;
    text-transform: capitalize;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 3px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
}

.top-list-item-num{
	display: flex;
	align-items: center;
	justify-content: center;
    transition: color 0.15s linear;
    font-size: 50px;
    line-height: .94;
    font-weight: 700;
    color: #d5d5d5;
}

.top-list-item:hover{
	opacity: 0.8;
}
.popular-articles{
	position: relative;
	display: flex;
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}
.related-article-image{
	display: flex;
    min-width: 75px;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
}
.article-title{
	display: flex;
    margin-top: -4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #2d2d2d;
    margin-left: 15px;
}	
.related-articles__item{
	text-decoration: none;
	display: flex;
	flex-direction: row;
}
.related-articles-header-title{
	display: flex;
    margin: 0 0 30px 0;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #2d2d2d;
}
.articles-items{
	margin-bottom: 15px;
}
.why-top-10{
	margin-bottom: 4px;
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
    color: #2d2d2d;
}
.why-top-10 span{
	color: #ff4a64;
}
 .top-10-stage .top-10-all-data{
	margin-top: 30px;
}

 .top-10-stage .top-10-all-data h6{
	font-size: 26px;
    font-weight: 400;
    color: #ff4a64;
}

 .top-10-stage .top-10-all-data p{
	margin-top: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #2d2d2d;
}
.character-image{
	position: absolute;
    right: 25px;
    border: 0;
    bottom: 37px;
}
.home-right-side{
	position: relative;
}
.shortlist-category{
	padding-bottom: 70px;
	background-color: #f5f5f5;
	justify-content: center;
    width: 100%;
    padding-top: 70px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.all-in-one-title h4{
	display: flex;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #2d2d2d;
}
.all-in-one-title{
	align-items: center;
    margin-bottom: 30px;
	display: flex;
    justify-content: space-between;
}
.all-shortlist-link{
	display: flex;
}
.shortlist-category-list{
	border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    width: 100%;
}
.shortlist-category-list ul{
	display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.shortlist-category-list ul li{
	border-left: 1px solid #d5d5d5;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    height: 118px;
}
.shortlist-category-list ul:last-of-type{
	border-right: 1px solid #d5d5d5;
}
.shortlist-category-list ul li button{
  cursor: pointer;
  border: unset;
    background-color: white;
  flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.shortlist-category-list ul li a:hover{
	background-color: rgba(255,74,100,0.2);
}

.shortlist-category-list ul li a span{
	display: flex;
	margin-bottom: 14px;
    width: 100%;
	justify-content: center;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #2d2d2d;
}
.shortlist-category-list ul li a img{
	display: flex;
    margin-top: 16px;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 0;
    background-color: #010233;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 50px;
}
footer .footer-logo{
	margin-top: 50px;
    margin-bottom: 20px;
}
footer .footer-logo a{
	font-size: 25px;
	color: white;
	text-decoration: unset;
}
footer .footer-detail ul{
	padding-left: 0px;
	display: flex;

}
footer .footer-detail ul li{
	list-style: none;
	padding-right: 20px;

}
footer .footer-detail ul li a{
	text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
    transition: color 150ms linear;
}
footer .copyright-text{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #fff;
}
footer p{
	color: white;
	font-size: 12px;
}
footer .social-media ul{
	margin-bottom: 0;
}
footer .social-media ul li i{
	color: white;
	font-size: 17px;
	background-color: gray;
	/*border-radius: 10%;*/
	width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .social-media{
	padding-top: 4rem;
}
.best-product-service h1{
	display: block;
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    /*padding-bottom: 2rem;*/
}
.best-product-service{
	padding-top: 3rem;
    padding-bottom: 2rem;
}
.best-product-service h1:after{
	margin: 40px 0;
    display: block;
    content: ' ';
    width: 60px;
    height: 1px;
    background-color: #d5d5d5;
}
.best-product-service h6{
	font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    color: #2d2d2d;
    margin: 0 0 40px 0;
}
.left-side-category-content{
	border-bottom: 1px solid #d5d5d5;
}
.footer-menu-for-mobile{
	display: none;
}
.navbar-collapse .searchbar{
	display: flex;
    justify-content: center;
    align-items: center;
}

.category-details {
    padding-top: 3rem;
}
header{
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}
.category-details .finance-list-title {
    font-size: 28px;
}
.category-details .finance-list-title b{
    color: #ff4a64;
}
.category-details .finance-list-title p{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: block;
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #2d2d2d;
}
.category-details h6{
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    color: #ff4a64;
    margin-bottom: 10px;
}
.top-trending-list ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.top-trending-list ul li{
    margin-right: 20px;
    width: 290px;
    height: 130px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.top-trending-list ul li a{
    display: block;
    width: 95%;
    text-decoration: none;
}
.top-trending-list ul .trending-list-image{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    width: 100%;
    flex-grow: 1;
    height: 130px;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
}

.top-trending-list ul li span{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: inherit;
    margin-bottom: 7px;
    max-width: 220px;
    overflow: hidden;
    padding-left: 8px;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 2;
}
.top-trending-list h6{
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    color: #2d2d2d;
}
.top-trending-list ul li button{
    width: 30px;
    height: 30px;
    background-color: #ff4a64;
    background-image: url(data:image/svg+xml;charset=utf,%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2012%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22Category-page%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%221600---Hover%22%20transform%3D%22translate%28-1113.000000%2C%20-235.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%3Cg%20id%3D%22Group-45%22%20transform%3D%22translate%28903.000000%2C%20101.000000%29%22%3E%3Cpolygon%20id%3D%22Shape%22%20points%3D%22216%20134%20214.95%20135.05%20219.15%20139.25%20210%20139.25%20210%20140.75%20219.15%20140.75%20214.95%20144.95%20216%20146%20222%20140%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.15s linear;
}
.category-different-topics .shopping-and-confidence{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: #2d2d2d;
    margin: 0;
    padding: 0;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.category-different-topics .ten-step-item{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
}
.category-different-topics .number{
    display: flex;
    align-items: center;
    min-width: 30px;
    margin-right: 21px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #d5d5d5;
}
.more-finance-shortlist a{
    color: #1789d5;
    font-weight: 600;
    font-size: 16px;
}
.more-finance-shortlist{
    box-sizing: border-box;
    padding-top: 29px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #d5d5d5;
    height: 50px;
}
.category-all-content{
    padding-bottom: 5rem;
    padding-top: 4rem;
}

.top-list-item a{
    width: 100%;
    display: flex;
    text-decoration: unset;
}
.breadcrumbs ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
.breadcrumbs-data{
    float: left;
}
.breadcrumbs{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.breadcrumbs ul li{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
    color: #797979;
    text-transform: capitalize;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
.breadcrumbs ul li .name{
    color: inherit;
    text-decoration: none;
    display: flex;
}
.breadcrumbs ul li a:after{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #797979;
    content: '/';
    display: flex;
    margin: 0 6px 0 6px;
}
.advertise-disclouser{
    display: flex;
    justify-content: flex-end;
}
.advertise-disclouser a{
    text-decoration: unset;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
    color: #797979;
    text-transform: capitalize;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
.advertise-disclouser{
    
}
.advertise-disclouser h6{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: inherit;
    color: #797979;
    text-transform: capitalize;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
.advertise-disclouser h6:after{
        font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #797979;
    content: '/';
    display: flex;
    margin: 0 6px 0 6px;
}

.topic-detail-banner{
    background-image: url('https://umbrella.data.naturalint.com/production/charts/uploads/photo/header-meal-min.20190719083141.jpg');
    height: 350px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;

}

.fix-sidebar .nav-pills{
    flex-direction: column;
}
#myScrollspy{
    position: relative;
}
#myScrollspy ul{
    top: 20px;
    position: static;
}
.best-meal-list{
    padding-top: 2rem;
}
.best-meal-list .increase-demand p{
    padding-top: 10px;
    margin-bottom: 5px;
}
.closer-look{
    padding-top: 3rem;
}
.closer-look h1{
    max-width: 680px;
    font-size: 35px;
    line-height: 1.14;
    font-weight: bold;
    color: #2d2d2d;
}
.closer-look h1:after{
    content: ' ';
    margin-top: 40px;
    display: flex;
    width: 60px;
    border-bottom: 1px solid #d5d5d5;
}

.increase-demand h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.all-meal-reviews ul li{
    list-style: none;
}
.all-meal-reviews ul li .meal-title span{
    font-size: 60px;
    line-height: .78;
    font-weight: bold;
    color: #d5d5d5;
    margin-right: 20px;
}
.all-meal-reviews ul li .meal-title span:after{
    content: '.';
}
.all-meal-reviews ul{
    padding-left: 0;
}
.all-meal-reviews{
    padding-top: 0rem;
}
.all-meal-reviews .meal-title .name h2{
    margin: 0;
    font-size: 20px;
    line-height: 1.35;
    font-weight: bold;
    color: #2d2d2d;
}
.all-meal-reviews .meal-title .vistior-review{
    display: flex;
    padding-left: 15px;
}
.all-meal-reviews .meal-title .vistior-review a span{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #1789d5;
    pointer-events: initial;
    display: flex;
    padding-left: 5px;
    padding-top: 2px;
}
.healthy-eats{
    margin-top: 3px;
    font-size: 16px;
    line-height: 1.38;
    font-weight: normal;
    color: #797979;
}
.vistior-review:before{
    width: 20px;
    height: 18px;
    content: ' ';
    display: -webkit-inline-flex;
    display: inline-flex;
    background: url('../images/chat.svg');
    /*background: url(data:image/svg+xml;charset=utf,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2018%22%3E%3Cpath%20fill%3D%22%23010233%22%20d%3D%22M10%200c5.523%200%2010%203.556%2010%207.942s-4.477%207.941-10%207.941c-.262%200-.522-.01-.778-.026l.007.003s-1.22-.1-1.735.276c-1.274.931-3.52%202.228-5.954%201.768%200%200-.264-.045-.095-.209.357-.345%203.327-2.133%201.563-4.078C1.153%2012.175%200%2010.166%200%207.942%200%203.556%204.477%200%2010%200zM6.872%208.223c0-.773-.615-1.4-1.374-1.4-.76%200-1.375.627-1.375%201.4%200%20.775.615%201.402%201.375%201.402.759%200%201.374-.627%201.374-1.402zm4.503%200c0-.773-.616-1.4-1.375-1.4-.76%200-1.375.627-1.375%201.4%200%20.775.615%201.402%201.375%201.402.759%200%201.375-.627%201.375-1.402zm4.502%200c0-.773-.616-1.4-1.375-1.4-.76%200-1.375.627-1.375%201.4%200%20.775.616%201.402%201.375%201.402.76%200%201.375-.627%201.375-1.402z%22%2F%3E%3C%2Fsvg%3E) no-repeat center;*/
    position: relative;
    top: 5px;
    left: -2px;
    padding-right: 8px;

}
.all-meal-reviews ul li .meal-title{
    float: left;
}
.all-meal-reviews ul li .chef-logo{
    float: right;
}
.all-meal-reviews ul li .chef-logo img{
    max-width: 150px;
    max-height: 60px;
}
.meal-images .slick-dots .slick-active button{
    background: gray;
}
.meal-images{
    padding-top: 5rem;
}
.meal-images .slick-dots button{
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    background: white;
    height: .8rem;
    width: .8rem;
    margin-left: .35rem;
    border-radius: 50%;
    margin-right: .35rem;
}
.meal-images .slick-dots li{
    display: inline-block;
}

.meal-images .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 0rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
}
/*.meal-images .slick-prev{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 111;
}
.meal-images .slick-next{
    position: absolute;
    top: 12rem;
    bottom: 0;
    right: 0;
    color: transparent;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meal-images .slick-next:after{
    content: "/f061";
    color: black;
    font-family: FontAwesome;
}*/

button:focus{
    outline: 0px;
}
.signup-modal .modal-header{
    flex-direction: column;
    align-items: center;
}
.signup-modal h5{
    padding-top: 1.5rem;
}
.signup-modal .close{
    position: absolute;
    right: 15px;
    top: 10px;
}

.signup-modal input[type=submit] {
  background-color: #ff4a64;
  color: white;
  cursor: pointer;
}

.signup-modal input[type=submit]:hover {
  background-color: #45a049;
}

.signup-modal .signup-form input,
.signup-modal .signup-form .btn {
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  /*margin: 5px 0;*/
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.signup-modal input:hover,
.signup-modal .btn:hover {
  opacity: 1;
}
.signup-modal .modal-footer a.btn{
    padding-left: 5px;
    padding-top: 1px;
}
.modal-footer h6{
    color: #2d2d2d;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}
.signup-modal .modal-body{
    background-color: #f2f2f2;
}
.newsletters-count {
    /*text-align: center;*/
    width: 70%;
    margin: 0 auto;
}
.click-for-terms-privacy a{
    text-decoration: unset;
    color: #007bff;
}
.click-for-terms-privacy{
    width: 70%;
    margin: 0 auto;
}

.article-page-banner {
    display: flex;
    flex-direction: row-reverse;
     /*background-image: url('../images/header-meal.jpg');
    height: 350px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;*/
}
.article-page-banner{
    position: relative;
}
.article-page-banner .article-title{
    flex-direction: column;
    height: min-content;
    box-sizing: border-box;
    z-index: 1;
    padding: 50px 84px 50px 50px;
    background-color: #f5f5f5;
    min-width: 340px;
    max-width: 570px;
    flex-grow: 2;
    position: absolute;
    left: 0;
    top: 18px;
    bottom: 0;
    height: 290px;
}
.article-page-banner .article-title .article-author{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    font-weight: normal;
    color: #797979;
}
.by-author{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #797979;
    padding-top: 1rem;
}
.by-author__author-credentials{
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.by-author__author-credentials img{
    display: flex;
    border-radius: 50%;
    margin: 2px 10px 0 0;
    width: 35px;
    height: 35px;
}
.author-data span{
    color: black;
}
.by-author__author-credentials a{
    text-decoration: unset;
}
.article-page-banner .article-title h1{
    font-size: 31px;
}
.article-page-banner .article-image{
    height: 320px;
    width: 100%;
}
.none{
    display: none;
}

.topic-banner{
    background-image: url('../images/best-airport.webp');
    height: 340px;
    background-size: 100% 100%;
}
.best-of-article ul{
    margin: 9px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.best-of-article ul li{
    display: flex;
    box-sizing: border-box;
    padding: 0 0 0 27px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #2d2d2d;
    min-height: 21px;
    width: 100%;
    margin-bottom: 2px;
}
.best-of-article ul li:before{
    box-sizing: border-box;
    content: ' ';
    background-image: url(data:image/svg+xml;charset=utf,%3Csvg%20viewBox%3D%220%200%2012%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M2.97%2010.002l.848%201.011%208.061-9.61-.848-1.011-8.061%209.61zM0%206.462l2.97%203.54.848-1.012-2.97-3.54L0%206.46z%22%20fill%3D%22%231789d5%22%20fill-rule%3D%22evenodd%22%2F%3E%20%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
    font-size: 21px;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin-left: -30px;
    margin-right: 4px;
    width: 21px;
    height: 21px;
}

.all-article-list .logo__image{
    width: 145px;
    padding-left: 25px;
}
.article-data{
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 0;
    position: relative;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    box-shadow: 0 0 7px rgba(0,0,0,0.25);
    height: 175px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.add-to-compare{
  cursor: pointer;
    margin-top: 30px;
    min-height: 42px;
    text-transform: capitalize;
    display: inline-flex;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 42px;
    background-color: #ff4a64;
    width: 85%;
    max-width: 240px;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    transition: all 300ms ease;
    margin-left: 1rem;
}
.add-to-compare label{
    padding-left: 10px;
    margin-bottom: 0px;
}

.all-article-list{
    margin-top: 3rem;
}
.article-visit-site{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-visit-site a{
    background-color: #4CAF50;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    text-decoration: unset;
}
.expand-button button{
  cursor: pointer;
    background-color: #4CAF50;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    text-decoration: unset;
    border: unset;
}

.article-data .number h6{
    color: #000;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border: 1px solid #010233;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-data .number{
    position: absolute;
    left: -18px;
    top: 26px;
}

.article-data.number{
    position: absolute;
    left: -18px;
    top: 26px;
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}







.view-plan-page{
  background-color: #ff4a64;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    text-decoration: unset;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 0rem;
    font-weight: 500;
}
.view-plan-page:hover{
  text-decoration: unset;
  color: white;
}
.meal-content .what-in-meal{
  padding-top: 2rem;
}
.meal-content .what-in-meal ul li{
  list-style: none;
  margin-bottom: 10px;
}
.meal-content .what-in-meal ul li i{
  font-weight: 300;
  color: #ff4a64;
  padding-right: 5px;
}
.meal-content .what-in-meal ul{
  padding-left: 0;
  padding-bottom: 1rem;
}
.meal-content .what-in-meal ul li strong:after{
  content: ' - ';
    font-weight: normal;
}
.review-plan-section {
  padding-top: 2rem;
}
.review-plan-section .pull-left a{
  text-decoration: unset;
  font-size: 20px;
}

.review-plan-section:after{
  content: ' ';
    margin-top: 3rem;
    display: -webkit-flex;
    display: flex;
    width: 60px;
    border-bottom: 1px solid #d5d5d5;

}

.pros-cons-list ul li{
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}
.pros-cons-list ul{
  padding-left: 0;
  padding-top: 1rem;
}
.pros-cons-list ul li i{
  padding-right: 10px;
    padding-top: 4px;
    font-weight: 300;
  color: #ff4a64;
}

.pros-cons-list .pros h6:after , .pros-cons-list .cons h6:after{
  width: 100%;
  content: ' ';
    margin-top: 14px;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #d5d5d5;
}
.meal-slider img{
  /*width: 100%;*/
  display: block;
}
.home-all-list-category .shortlist-category{
  padding-top: 95px;
}
.single-category-list h6{
  padding-bottom: 1rem;
  font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #2d2d2d;
}
.single-category-list ul li{
  list-style: none;
  padding-bottom: 0.5rem;
}
.single-category-list ul li a i{
  font-size: 30px;
    padding-bottom: 10px;
}
.single-category-list ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-category-list ul li a{
  text-decoration: unset;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.single-category-list{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.single-category-list ul {
  margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1000px;
    box-sizing: border-box;
    -webkit-columns: auto 170px;
    columns: auto 170px;
    display: block;
    width: 100%;
}
.all-category-list .shortlist-category{
  padding-top: 40px;
}
