@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.top-category .page-header__categories{
		min-width: 160px;
		    width: 130px;
	}
	.top-list-item .top-list-item-right{
		min-width: 130px;
    width: 160px;
    height: 100px;
	}
	.article-title{
		font-size: 10px;
	}
	.page-header__categories__category--name{
		font-size: 15px;
	}
}